article {
  font-family: 'Roboto Slab', 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
  line-height: 1.5;
  margin: 0.5em;
  color: #555;
  h1 {
    margin: 0;
    padding: 0;
    font-size: 26px;
    text-align: center;
    word-break: break-word;
    font-weight: 400;
  }
  h2 {
    margin: 20px 0 15px;
    padding-top: 10px;
  }
  p {
    margin: 0 0 25px 0;
  }
  table {
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin: 10px;
    td,
    th {
      padding: 5px 10px;
      border-left:1px solid #ccc;
      border-top:1px solid #ccc;
    }
  }

  code {
    margin: 0 3px;
    padding: 2px 4px;
    word-wrap: break-word;
    color: #555;
    background: #eee;
    border-radius: 3px;
    font-size: 13px;
  }

  pre {
    display: block;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 13px;
    font-family: inherit;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    code {
    	padding: 0;
      font-size: inherit;
      color: inherit;
      white-space: pre-wrap;
      background-color: transparent;
      border-radius: 0;
    }
  }

  blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 16px;
    border-left: 5px solid #ccc;
    p {
    	margin: 0;
    }
  }

  a {
    margin: 0 3px;
  	color: #555;
    text-decoration: none;
    border-bottom: 1px solid #999;
    word-wrap: break-word;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ccc;
  }
  img {
    width: 100%;
  }
}
