/* mixins */
@mixin span($num: 24) {
	display: inline-block;
	width: percentage($num / 24);
}
@mixin flex($num: 1) {
	flex: $num 0 0;
}

/* variables */
$xs: 768px;
$sm: 992px;
$md: 1200px;

$dark: #222831;
$light-dark: #393E46;
$light-blue: #00959c;
$white: #EEEEEE;
$text-gray: #999;
$text-gray-main: #555;
$text-gray-hover: #222;
